body {
    margin: 0;
}

.details-content {
    background-color:  #fff;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}


@media screen and (min-width: 992px) {
    .details-content {
        max-width: 992px;
        
        margin: 1rem auto;
        border-radius: 1rem;
    }
}


header {
    display: flex;
    flex-direction: column;
    background-color:  #77c850;
    padding: 10px;
    
}

article {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    margin-bottom: -1.5rem;
    background-color:  #77c850;
    
}

footer {
    background-color: rgb(255, 255, 255);
    padding: .8rem;
    padding-top: 1.6rem;
    border-radius: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

h1 {
    margin: 0;
    margin-bottom: .4rem;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: 1rem;
    margin-left: auto;
    font-weight: 600;
}

.name {
    color: #fff;
    margin-bottom: .25rem;
    font-size: 3rem;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.types {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

.type {
    background-color:  #77c850;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem .15rem;
    font-size: .855rem;
    border-radius: 1rem;
    list-style: none;
    filter: brightness(1.2);
}

img {
    max-width: 100%;
    position: relative;

}

.abilities {
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-align: center;
    color: #000000ce;
}

.abilities-names {
    display: flex;
    justify-content: center;
}

.abilitie-name {
    padding: .5rem .5rem;
    margin: .25rem .15rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    list-style: none;
    border: 3px solid #77c850;;
    text-align: center;
    max-width: 400px;
}

.moves {
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-align: center;
    color: #000000ce;
    min-height: 33.3%;
}

.moves-names {
    display: flex;
    justify-content: center;
}

.move-name {
    padding: .5rem .5rem;
    margin: .25rem .15rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    list-style: none;
    border: 3px solid #77c850;;
    text-align: center;
    max-width: 400px;
}

.characteristics {
    display: flex;
    justify-content: space-around;
}

.height {
    background-color:  #919191;
    color: #fff;
    padding: .5rem .5rem;
    margin: .25rem .15rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    list-style: none;
    filter: brightness(1.2);
    width: 45%;
    text-align: center;
    max-width: 280px;
}

.weight {
    background-color:  #919191;
    color: #fff;
    padding: .5rem .5rem;
    margin: .25rem .15rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    list-style: none;
    filter: brightness(1.2);
    width: 45%;
    text-align: center;
    max-width: 280px;
}

